.inst__photos {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 0;
}


@media screen and (max-width: 1200px){
    .inst__photos {
        display: none;
    }
}