.inst__title {
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 119%;
    text-align: center;
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 668px){
    .inst__title {
        font-size: 30px;
    }
}

@media screen and (max-width: 472px){
    .inst__title {
        font-size: 22px;
    }
}