.card__element {
    width: 270px;
    height: 283px;
    box-sizing: border-box;
    padding-top: 10px;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    transition: 0.5s transform;
}

.card__element:hover {
    border: 2px solid #40c752;
    transform: scale(1.1);
}