html {
    scroll-behavior: smooth;
}

.page {
    background-color:  #FFFFFF;
    margin: 0 auto 0;
    box-sizing: border-box;
    padding: 40px 0 96px;
    align-content: center;
    color: #1A1A1A;
}

@media screen and (max-width:1000px){
    .page {
        padding-bottom: 40px;
    }
}

::-webkit-scrollbar {
    width: 0;
}