.inst__text {
    font-family: 'DM Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    text-align: center;
    color: #4A4A4A;
    margin: 12px auto 0;
    padding: 0;
    max-width: 544px;
}

@media screen and (max-width: 668px){
    .inst__text {
        max-width: 400px;
    }
}

@media screen and (max-width: 472px){
    .inst__text {
        max-width: 260px;
    }
}