.quote__block {
    background-color: #066F14;
    position: absolute;
    bottom: 43px;
    left: 0;
    width: 597px;
    z-index: 2;
    overflow: hidden;
}

@media screen and (max-width:1200px){
    .quote__block {
        bottom: 153px;
        left: -30px;
    }
}

@media screen and (max-width:700px){
    .quote__block {
        width: 450px;
        left: 40px;
    }
}

@media screen and (max-width:544px){
    .quote__block {
        width: 250px;
        bottom: 170px;
    }
}

@media screen and (max-width:413px){
    .quote__block {
        bottom: 210px;
    }
}