.quote__content {
    width: 597px;
    max-height: 204px;
    padding: 20px 24px 30px 32px;
    box-sizing: border-box;
}

@media screen and (max-width:700px){
    .quote__content {
        padding: 10px 14px 20px 12px;
    }
}

@media screen and (max-width:700px){
    .quote__content {
        width: 450px;
    }
}

@media screen and (max-width:544px){
    .quote__content {
        width: 250px;
    }
}
