.subscribe__info {
    display: flex;
    flex-direction: column;
    max-width: 475px;
}

@media screen and (max-width:712px) {
    .subscribe__info {
        max-width: 380px;
    }
}

@media screen and (max-width:632px) {
    .subscribe__info {
        max-width: 300px;
    }
}