@media screen and (max-width:576px) {
    .about__picture {
        margin: 0 auto 0;
        width: 340px;
    }
}

@media screen and (max-width:380px) {
    .about__picture {
        width: 280px;
    }
}