.header__info {
    padding: 0;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 1024px){
    .header__info {
        box-sizing: border-box;
        padding-left: 30px;
    }
}

@media screen and (max-width: 560px){
    .header__info {
        padding-left: 20px;
    }
}