.subscribe__form {
    width: 451px;
    height: 56px;
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    background-color: white;
    box-sizing: border-box;
    padding: 8px 8px 8px 20px;
}

@media screen and (max-width:712px) {
    .subscribe__form {
        width: 380px;
    }
}

@media screen and (max-width:458px) {
    .subscribe__form {
        width: 298px;
        height: 40px;
        padding: 5px 3px 5px 10px;
    }
}

@media screen and (max-width:447px) {
    .subscribe__form {
        width: 250px;
    }
}