.header__leaf {
    width: 157.1px;
    height: 193.19px;
    transform: rotate(30.49deg);
    position: absolute;
    top: 487.09px;
    left: 598.14px;
}

@media screen and (max-width: 1230px){
    .header__leaf {
        display: none;
    }
}