.header__block {
    display: flex;
    flex-direction: row;
    max-width: 287px;
    position: absolute;
}

@media screen and (max-width: 1280px){
    .header__block {
        display: none;
    }
}