.about__btn {
    background: #066F14;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    color: white;
    font-family: 'DM Sans', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    width: 155px;
    height: 55px;
}

@media screen and (max-width:576px) {
    .about__btn {
        width: 90px;
        height: 31px;
        padding: 2px 5px;
        font-size: 12px;
        line-height: 100%;
    }
}