.subscribe {
    background-color: #DFFFE3;
    max-width: 1040px;
    max-height: 320px;
    box-sizing: border-box;
    padding: 60px 5px 60px 59px;
    margin: 164px auto 79px;
    position: relative;
    align-items: center;
    align-content: center;
}

@media screen and (max-width:1084px) {
    .subscribe {
        margin: 80px 20px 80px 20px;
    }
}

@media screen and (max-width:540px) {
    .subscribe {
        padding: 30px 100px 30px 20px;
    }
}