.about {
    display: flex;
    flex-direction: row;
    margin: 128px auto 0;
    align-content: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

@media screen and (max-width:1080px){
    .about {
        flex-direction: column;
    }
}

@media screen and (max-width:1000px){
    .about {
        margin: 60px auto 0;
    }
}