.catalog__title {
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    margin: 0;
    padding: 0;
}

@media screen and (max-width:928px) {
    .catalog__title {
        font-size: 26px;
    }
}

/* @media screen and (max-width:460px) {
    .catalog__title {
        font-size: 24px;
    }
} */