.catalog {
    display: flex;
    flex-direction: column;
    max-width: 1152px;
    margin: 128px auto 128px;
    align-items: center;
    padding: 0 20px 0 20px;
    box-sizing: border-box;
}

@media screen and (max-width:1000px){
    .catalog {
        margin: 60px auto 60px;
    }
}